{% extends "base.html" %}
{% load static %}
{% load account socialaccount %}

{% block css %}<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block js %}<script src="{% static 'js/common.js' %}"></script>{% endblock js %}

{% block content %}
<div class="page-content">
    <div class="content-wrapper">
        <div class="content d-flex justify-content-center align-items-center">

            <div class="login-form">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-checkmark4 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Ваш пароль изменен</h5>
                            <span class="d-block text-muted">Можете войти в аккаунт</span>
                        </div>

                        <div class="form-group text-center text-muted content-divider">
                            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Войти</a>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}