<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Всего на сайте</h6>
    </div>

    <div class="card-body">
        <div class="row text-center">
            <div class="col-6">
                <p><i class="icon-users2 icon-2x d-inline-block text-info"></i></p>
                <div class="h5 font-weight-semibold mb-0">{{ users_count }}</div>
                <span class="text-muted font-size-sm">Пользователей</span>
            </div>
            <div class="col-6">
                <p><i class="icon-images2 icon-2x d-inline-block text-warning"></i></p>
                <div class="h5 font-weight-semibold mb-0">{{ posts_count  }}</div>
                <span class="text-muted font-size-sm">
                    {% if app_step_drawing %}
                        Обучалок
                    {% else %}
                        Срисовок
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>