<a href="#top" type="button" class="scrollto btn btn-up bg-indigo-400 fab-menu-fixed fab-menu-bottom-right px-2" style="display: none;">
    <span>Вверх</span>
    <i class="icon-arrow-up13"></i>
</a>
<footer class="navbar navbar-expand-lg navbar-light pb-3 pt-2">
    <div class="col-md-6">
    <a href="{% url 'front:sitemap' %}" class="btn btn-link d-block text-left">
        <i class="icon-location3 mr-2"></i> Карта сайта
    </a>
    <a href="{% url 'front:feedback' %}" class="btn btn-link d-block text-left">
        <i class="icon-envelop3 mr-2"></i> Обратная связь
    </a>
    </div>
    <div class="col-md-6">
    <a href="{% url 'front:right_holders' %}" class="btn btn-link d-block text-left">
        <i class="icon-make-group mr-2"></i> Правообладателям
    </a>
    <a href="{% url 'front:terms_of_use' %}" class="btn btn-link d-block text-left">
        <i class="icon-make-group mr-2"></i> Условия использования
    </a>
    <a href="{% url 'front:cookie_rules' %}" class="btn btn-link d-block text-left">
        <i class="icon-make-group mr-2"></i> Политика использования файлов куки
    </a>
    </div>
</footer>

<div class="navbar navbar-expand-lg navbar-light">
<div class="navbar-collapse" id="navbar-footer">
    <span class="navbar-text">
    &copy; разработка веб-приложений <a href="https://Wstanley.ru" target="_blank">WStanley</a>
    </span>
    <ul class="navbar-nav ml-lg-auto">
    <li class="nav-item">
        <a href="/" class="navbar-nav-link">Картинки-для-срисовки.рф</a>
    </li>
    </ul>
</div>
</div>