{% extends "base.html" %}
{% block css %}<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block js %}<script src="{% static 'js/common.js' %}"></script>{% endblock js %}
{% block title %}Главная{% endblock %}
{% block description %}{% endblock description %}

{% block content %}
	<div class="page-content">
        {% include 'sidebar/sidebar.html' %}
        <div class="content-wrapper">
			<div class="content">

                <div class="card">
					<div class="card-header header-elements-inline">
						<h1 class="card-title">Политика использования файлов куки</h1>
					</div>

					<div class="card-body">
                        <p>Политика использования cookie-файлов сайта Картинки-для-срисовки.рф</p>
                        <p>Мы используем cookie-файлы, веб-маяки и иные схожие технологии для того, чтобы отличить вас от других пользователей нашего ресурса. Это позволяет обеспечивать удобный просмотр нашего сайта, а также даёт возможность улучшать его.</p>
                        <h4>Что такое cookie-файлы?</h4>
                        <p>Cookie-файлы представляют собой небольшие фрагменты данных, которые сохраняются в браузере компьютера, мобильного телефона или другого устройства после посещения веб-сайтов. Cookie-файлы широко применяются для поддержания работы веб-сайтов и сбора статистики.</p>
                        <h4>Как мы используем cookie-файлы?</h4>
                        <p>Информация, которую мы собираем с помощью файлов cookie-файлов, помогает нам анализировать то, как используется наш веб-сайт, чтобы мы могли сделать его максимально удобным и функциональным.</p>
                        <p>Персональные данные сохраняются в cookie-файлах, если вы согласились на их использование. Это обеспечивает защищенный вход в личный кабинет, что технически необходимо.</p>
                        <h4>Какие типы cookie-файлов мы используем?</h4>
                        <h6>Технические cookie-файлы</h6>
                        <p>Использование этих функциональных cookie-файлов нельзя запретить при посещении нашего сайта, так как они обеспечивают корректную работу веб-сайта. Сюда относятся cookie-файлы, которые собирают информацию о том, разрешено или запрещено использование других cookie-файлов с нашего сайта.</p>
                        <h6>Cookie-файлы сеанса посещения и cookie-файлы предпочтений</h6>
                        <p>Данные cookie-файлы позволяют войти в защищенные разделы нашего сайта и добавлять изображения. Срок действия таких cookie-файлов истекает по окончании сеанса посещения. Мы также можем использовать cookie-файлы, которые действуют дольше и создаются для того, чтобы запомнить ваши предпочтения и варианты выбора во время посещения нашего сайта. Жизненный цикл таких cookie-файлов не превышает одного года.</p>
                        <h4>Аналитические файлы cookie</h4>
                        <p>Мы используем средства веб-аналитики с целью общего анализа использования сайта и получения исходных данных для улучшения наших предложений. Полученная при этом информация может передаваться в анонимной форме на сервер службы веб-аналитики, сохраняться и обрабатываться там. Мы можем использовать аналитические инструменты и соответствующие cookie-файлы следующих поставщиков услуг:</p>
                        <p>Google Analytics: 
                            <noindex>
                                <a target="_blank" href="http://www.google.com/intl/en/policies/privacy/" rel="nofollow">политика конфиденциальности Google</a target="_blank">
                            </noindex>
                        </p>
                        <p>Яндекс.Метрика: 
                            <noindex>
                                <a target="_blank" href="https://yandex.ru/legal/confidential/" rel="nofollow">политика конфиденциальности Яндекс</a>
                            </noindex>
                        </p>

                        <h4>Веб-маяки</h4>
                        <p>Веб-маяки – небольшие графические изображения (также называемые «пиксельными тегами» или «чистыми GIF»), которые могут размещаться на наших веб-сайтах и внедряться в наши сервисы, приложения, сообщения и инструменты. Веб-маяки могут использоваться для различных целей, включая оценку эффективности работы наших веб-сайтов, мониторинг количества посетителей и их поведения на наших веб-сайтах, определение доли реально прочитанных электронных писем от общего числа всех отправленных писем, контроль эффективности нашей рекламы и подсчёт количества фактически просмотренных страниц, изображений и ссылок.</p>
                        <h4>Аналогичные технологии для хранения информации</h4>
                        <p>Аналогичные технологии для хранения информации – технологии, позволяющие записывать определённую информацию в кэш-память веб-браузера или в память устройства с помощью локальных объектов общего пользования или локально сохраняемых данных, таких как cookie-файлы формата Flash и HTML 5 и прочие элементы прикладного программного обеспечения для интернета. Эти технологии могут применяться во всех используемых веб-браузерах. В некоторых случаях управление использование локально сохраняемых данных с помощью веб-браузера в полном объёме невозможно и требует специальных инструментов. Подобные технологии хранения информации могут использоваться нами для защиты данных вашей учетной записи или для выявления нестандартных действий при использовании браузера в целях предотвращения несанкционированного доступа к вашей учетной записи или оценки эффективности функционирования наших веб-сайтов, сервисов, приложений или инструментов.</p>
                        <h4>Как можно разрешить или запретить использование cookie-файлов?</h4>
                        <p>Большинство браузеров автоматически принимают cookie-файлы. На вашем устройстве вы можете удалить сохраненные cookie-файлы в любое время. Как это делается более подробно, вы можете найти в инструкции по использованию вашего браузера или устройстве производителя.</p>
                        <p>В настройках браузера также можно запретить любые cookie-файлы или только определенные. Однако все браузеры отличаются друг от друга, поэтому более подробная информация о настройках для cookie-файлов приведена в разделе Help («Справка») вашего браузера.</p>
                        <p>Обращаем внимание что, отключив cookie-файлы, вы не сможете пользоваться некоторыми функциями, сервисами, инструментами и приложениями нашего сайта.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}