{% extends "base.html" %}
{% block css %}<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block js %}<script src="{% static 'js/common.js' %}"></script>{% endblock js %}
{% block title %}Страница для правообладателей{% endblock %}
{% block description %}Страница с правами для правообладателей  картинок, рисунков, изображений сайта картинки-для-срисовки.рф{% endblock description %}

{% block content %}
	<div class="page-content">
        {% include 'sidebar/sidebar.html' %}
        <div class="content-wrapper">
			<div class="content">

                <div class="card">
					<div class="card-header header-elements-inline">
						<h1 class="card-title">Правообладателям</h1>
					</div>

					<div class="card-body">
                        <p>Сайт картинки-для-срисовки.рф (далее картинки-для-срисовки) организован в форме образовательного клуба. Картинки-для-срисовки находится в Интернете, не является юридическим лицом и не ведет свою деятельность на территории какой-либо страны. Главная цель проекта - предоставление пользователям информации для обучения по различным направлениям. Сайт картинки-для-срисовки предоставляет пользователям только информационную и техническую возможность для организации главной цели проекта. Авторские права на продукты принадлежат только их владельцам. Запрещается любое коммерческое использование материалов, в том числе и их распространение.</p>
                        <p>Администрация Форума картинки-для-срисовки сообщает, что вся опубликованная информация на сайте взята из открытых интернет-источников, либо прислана и опубликована непосредственно самими пользователями нашего сайта. Если Вы заметили нарушение своих авторских прав, Вы можете связаться с нами по электронному адресу: admin@wstanley.ru и для удаления Вашего продукта с нашего форума, в письме Вам необходимо указать:</p>
                        <ol>
                            <li>Документальное подтверждение Ваших прав на материал, который защищен авторским правом:
                                <ul>
                                    <li>Отсканированный документ на продукт с печатью;</li>
                                    <li>Прочая информация, которая позволит идентифицировать Вас, как правообладателя.</li>
                                </ul>
                            </li>
                            <li>Прямые ссылки на страницы сайта картинки-для-срисовки, которые содержат материал, нарушающий Ваши авторские права.</li>
                        </ol>
                        <p>Все это необходимо направить письмом на электронный адрес admin@wstanley.ru. После получения письма, которое содержит данное подтверждение (в полном виде), в течение 48 часов мы обязуемся удалить материал.</p>
                        <p>ОБРАТИТЕ ВНИМАНИЕ:</p>
                        <p>Сертификат, выданный сервисом CopyTrust не является официальным подтверждением Ваших авторских прав. Не рассматриваются жалобы, которые содержат угрозы или оскорбления в адрес нашего сайта или в адрес Администрации сайта.</p>
                        <p>Мы не реагируем на необоснованные жалобы третьих сторон. Жалобы рассматриваются только от Авторов материалов или же от их представителей!</p>
                        <p>Мы в праве отказать в рассмотрении жалобы из-за недостаточного количества данных, которые позволяют идентифицировать Вас, как правообладателя.</p>
                        <p>Все жалобы стараются обрабатываться путем мирного урегулирования вопроса.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}