{% extends "base.html" %}
{% block css %}<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block js %}<script src="{% static 'js/common.js' %}"></script>{% endblock js %}
{% block title %}Условия использования сайта картинки-для-срисовки.рф{% endblock %}
{% block description %}Страница с условиями использования интернет-сайта картинки-для-срисовки.рф. На данной странице вы найдете подробную информацию о сборе, обработке и использования собираемой информации о пользователях.{% endblock description %}

{% block content %}
	<div class="page-content">
        {% include 'sidebar/sidebar.html' %}
        <div class="content-wrapper">
			<div class="content">

                <div class="card">
					<div class="card-header header-elements-inline">
						<h1 class="card-title">Условия использования</h1>
					</div>

					<div class="card-body">
                        <p>Уважаемые посетители!</p>
                        <ol>
                            <li>При использовании информации, размещаемой на официальном интернет-сайте картинки-для-срисовки.рф (далее - Сайт), технические средства Сайта автоматически распознают сетевые (IP) адреса и доменные имена каждого пользователя (посетителя Сайта). Упомянутые сведения; электронные адреса лиц, пользующихся интерактивными сервисами Сайта и (или) отправляющих электронные сообщения в адреса, указанные на Сайте; автоматически накапливаемые сведения о том, к каким интернет-страницам Сайта обращались пользователи; иные сведения (в том числе персонального характера), сообщаемые пользователями, - хранятся с использованием технических средств Сайта для целей, перечисленных в пункте втором настоящего Уведомления.</li>
                            <li>Сведения о пользователях Сайта, накапливаемые и хранимые в технических средствах Сайта, используются исключительно для целей совершенствования способов и методов представления информации на Сайте, улучшения обслуживания его пользователей (посетителей), выявления наиболее посещаемых интернет-страниц (интерактивных сервисов) Сайта, а также ведения статистики посещений Сайта.</li>
                            <li>Вне пределов, указанных в пункте втором настоящего Уведомления, информация о пользователях Сайта не может быть каким либо образом использована или разглашена. Доступ к таким сведениям имеют только лица, специально уполномоченные на проведение работ, указанных в пункте втором настоящего Уведомления, и предупрежденные об ответственности за случайное или умышленное разглашение либо несанкционированное использование таких сведений.</li>
                            <li>Информация персонального характера о пользователях Сайта хранится и обрабатывается с соблюдением требований российского законодательства о персональных данных.</li>
                            <li>Какая либо информация, являющаяся производной по отношению к сведениям, перечисленным в пункте первом настоящего Уведомления, представляется для последующего использования (распространения) исключительно в обобщенном виде, без указания конкретных сетевых (электронных) адресов и доменных имен пользователей (посетителей) Сайта.</li>
                            <li>Рассылка каких либо электронных сообщений по сетевым (электронным) адресам пользователей (посетителей) Сайта, а также размещение на Сайте гиперссылок на сетевые (электронные) адреса пользователей Сайта и (или) их интернет-страницы допускаются исключительно, если такая рассылка и (или) размещение прямо предусмотрены правилами использования соответствующего интерактивного сервиса и на такую рассылку и (или) размещение получено предварительное согласие пользователя (посетителя) Сайта, выраженное в форме, предусмотренной указанными правилами. Переписка с пользователями (посетителями) Сайта, не относящаяся к использованию интерактивных сервисов Сайта либо иных информационных разделов Сайта, не производится.</li>
                
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}